<!DOCTYPE html>
<html>
<head>
    <title>Scan display</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            background-color: #f5f5f5;
        }

        #qr-reader {
            max-width: 90%;
            width: 500px;
            margin: 0 auto;
        }

        #qr-reader-results {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div id="qr-reader" style="width:500px"></div>
    <div id="qr-reader-results"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.8/html5-qrcode.min.js" integrity="sha512-r6rDA7W6ZeQhvl8S7yRVQUKVHdexq+GAlNkNNqVC7YyIV+NwqCTJe2hDWCiffTyRNOeGEzRRJ9ifvRm/HCzGYg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        function docReady(fn) {
            if (document.readyState === "complete" || document.readyState === "interactive") {
                setTimeout(fn, 1);
            } else {
                document.addEventListener("DOMContentLoaded", fn);
            }
        }

        docReady(function () {
            var resultContainer = document.getElementById('qr-reader-results');
            var lastResult, countResults = 0;

            function onScanSuccess(decodedText, decodedResult) {
                if (decodedText !== lastResult) {
                    ++countResults;
                    lastResult = decodedText;
                    // Print the decoded text on the page
                    resultContainer.innerHTML = `Scan result ${countResults}: ${decodedText}`;
                    console.log(`Scan result ${decodedText}`, decodedResult);

                    // Extract ID from the decoded text (assuming it's the last part)
                    var parts = decodedText.split('/');
                    var id = parts[parts.length - 1];

                    // Redirect to the URL with the extracted ID
                    window.location.href = `https://open-rtc.com/connect/${id}`;
                }
            }

            var html5QrcodeScanner = new Html5QrcodeScanner(
                "qr-reader", { fps: 10, qrbox: 250 });
            html5QrcodeScanner.render(onScanSuccess);
        });
    </script>
</body>
</html>

